html, body{
    padding: 0;
}
#container{
    min-height:100%;
    position:relative;
}
header{
    position: fixed; 

    height: 90%;
    width: 12%;

    left: 0;
    top: 0;

    background-color: black;
}
.menu{
    position: fixed;
    margin-top: 20px;
    width: 12%;
}
.logo{
    margin-left: 20px;
    margin-bottom: 30px;
}
a{
    text-align: left;
    color: lightgray;
    font-family: "Bahnschrift";
    font-size: small;
}
.menu-side-button{
    height: 3.5%;
    border: 0;

    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 20px;

    background: none;

    text-align: left;
    color: lightgray;
    font-family: "Bahnschrift";
    font-size: medium;
    
    cursor: pointer;
}
.menu-side-button:hover{
    color: white;
}
.playlists{
    position: absolute; 
    display: inline;

    width: 100%;
    height: 68%;

    bottom: 0;

    background-color: none;
    border-top: 1px solid whitesmoke;
}
.icon{
    margin-right: 15px;
}
body{
    background-color: #121212;
}
footer{
    position: fixed; 

    height: 10%;
    width: 100%;

    bottom: 0;
    left: 0;
    right: 0;

    background-color: #181818;
    border-top: 1px solid whitesmoke;
}

.player{
    position: absolute;
    height: 100%;
    width: 35%;
    
    left: 35%;

    background-color: none;
}

.album{
    position: absolute;

    height: 100%;
    width: auto;
    
    left: 0;
    
    background-color: none;
    padding-top: 20px;
    margin-left: 20px;
}
.names{
    position: absolute;

    height: 100%;
    width: 5%;

    left: 4%;
    background-color: none;
    padding-top: 30px;
}
.opcoes{
    position: absolute;

    height: 100%;
    width: 15%;
    
    right: 0;
    margin-top: 1%;

    background-color: none;
    
}
.button-player{
    position:relative;
    left: 20%;
    background: none;
    border: 0;
    cursor: pointer;
}
.timer{
    position: absolute;
    height: 100%;
    width: 35%;
    
    left: 35%;
    margin-top: 3%;
    background-color: none;
}
#last{
    right: 0px;
}
#now{
    left: 0px;  
}
.slider {
    margin: 0;
    border: 0;

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    
    width: 88%; /* Full-width */
    height: 5px; /* Specified height */
    background: whitesmoke; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .sound-slider {
    position: absolute;
    margin-top: 25px;
    border: 0;

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    
    width: 40%; /* Full-width */
    height: 5px; /* Specified height */
    background: whitesmoke; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  .sound-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .sound-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .sound-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }